.formulario{
    width: 20vh;
    height: 20vh;
    background-color: blueviolet;
    text-align: center;
    justify-items: center;
}
.contenedor{
    width: 10vh;
    height: 10vh;
    background-color: burlywood;
    margin: 5vh;
    position: relative;
}
.parrafo{
    width: 5vh;
    height: 5vh;
    background-color: chartreuse;
    margin: 2.5vh;
    position: relative;
}